{{>header}}

  {{#actionable_visitor}}
  <div class="jumbotron">

    {{^authenticated}}
    <h1 class="">{{i18n.page.tagline1}}</h1>
    <p class="lead">{{i18n.page.tagline2}}</p>
    {{/authenticated}}

    {{>partial/create_secret_form}}

    {{^authenticated}}
    <hr/>
    <p class="hint">{{i18n.page.secret_hint}}</p>
    {{/authenticated}}
    <hr/>

  </div>

  {{/actionable_visitor}}

{{>footer}}
